@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Rubik';
}

.main-navigation {
	background-color: #000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.site-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0.5rem;
}

.site-logo_img {
	display: inline-block;
}

.site-logo_name {
	display: inline-block;
	margin-left: 0.25rem;
	color: white;
}

.site-logo_name a {
	text-decoration: none;
	color: white;
}

.site-logo_name h2 {
	margin: 0;
}

.navigation_list {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	gap: 1.5rem;
}

.navigation_item a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

.search_div {
	background-color: white;
	display: flex;
	gap: 10px;
	padding: 0.5rem 1rem;
	border-radius: 32px;
	margin: 0.5rem 0.5rem 0.5rem 0;
}

.search_div input {
	border: none;
	outline: none;
	font-size: 0.9rem;
}

.button {
	background-color: #008075;
	color: white;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 0 1rem;
	cursor: pointer;
}

main {
	background-image: linear-gradient(to right, rgba(0, 128, 128, 0.6), #ffffff00),
		url('images/wp2490389-full-city-wallpapers.jpg');
	background-size: cover;
	height: calc(100vh - 4rem);
	width: 100vw;
	position: absolute;
	top: 4rem;
	left: 0;
	display: flex;
}

.side-panel {
	height: 100%;
	width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.side-panel hr {
	border-bottom-color: white;
	height: 12rem;
	margin: 3rem 0;
}

.social-links_div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1.5rem;
	margin-bottom: 5rem;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	margin-left: 5rem;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.home-heading {
	font-size: 4.5rem;
	width: 30rem;
	font-weight: 700;
	font-stretch: expanded;
	margin-top: 4rem;
}

.home-para {
	width: 20rem;
	margin-bottom: 4rem;
}

.home-btn {
	width: fit-content;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 700;
}

.empty-div {
	width: 407.16px;
	height: 48px;
	margin: 0.5rem 0.5rem 0.5rem 0;
}

.about-heading {
	font-size: 4rem;
	margin-top: 2rem;
}

.about-para {
	width: 90%;
	padding: 1rem;
	background-color: #00000031;
	margin-top: 0;
	border-radius: 4px;
}

.team-div {
	width: 90%;
	display: flex;
	margin-top: 4rem;
	justify-content: space-between;
}

.team-heading {
	font-size: 3rem;
	width: 5rem;
	margin-left: 3rem;
}

.team-members {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.team-member {
	display: flex;
	align-items: flex-start;
	padding: 1.5rem;
	background-color: #00000031;
	border-radius: 8px;
}

.team-member_img {
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 1rem;
}

.team-member_img img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 4px;
}

.team-member_detail {
	display: flex;
	flex-direction: column;
}

.team-member_detail h3 {
	margin: 0;
}

.team-member_detail p:nth-of-type(1) {
	margin: 0;
	color: #ccc;
	width: 9rem;
	font-size: 0.9rem;
}

.team-member_detail p:nth-of-type(2) {
	text-align: center;
	width: 9rem;
	background-color: #444491;
	padding: 0.25rem 0.5rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 0.8rem;
}

.other-details {
	background-color: #00000031;
	padding: 1rem;
	width: 90%;
	margin-top: 5rem;
	margin-bottom: 5rem;
	border-radius: 4px;
}

.company-history {
	margin-bottom: 2rem;
}

.company-history h1 {
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.company-location h1 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.company-location_images {
	display: flex;
	justify-content: space-evenly;
	gap: 1.5rem;
	padding: 0.5rem;
}

.company-location_img {
	height: 20rem;
	width: 40rem;
}

.company-location_img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.contact {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin-top: 10rem;
}

.contact-heading {
}

.contact-heading h1 {
	font-size: 4rem;
}

.contact-heading p {
}

.contact-form {
	background-color: #00000031;
	border-radius: 4px;
	padding: 1rem;
}

.form-input {
	width: 40rem;
	margin-bottom: 1rem;
}

.form-input label {
	display: block;
	width: 40rem;
	margin-bottom: 0.5rem;
}

.form-input input,
textarea {
	display: block;
	width: 40rem;
	font-size: 1rem;
	outline: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #ffffff00;
	font-family: sans-serif;
	color: white;
}

.contact-form button {
	width: 100%;
	padding: 0.5rem;
}
